<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% for(let j = 0; j < data.length; j++){ %> <% for ( let i = 1; i < 10; i++)
    { %>
    <h4><%= data[j] + "x" + i + "=" + data[j] * i %></h4>
    <% } %> <% } %>
  </body>
</html>
