<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <p>개인정보</p>
    <form action="/upload" method="post" enctype="multipart/form-data">
      아이디: <input type="text" name="id" id="" /> <br />
      비밀번호: <input type="password" name="pw" id="" /> <br />
      이름: <input type="text" name="name" id="" /> <br />
      나이: <input type="number" name="age" id="" /><br />
      프로필 사진: <input type="file" name="profile" /><br />
      <button type="reset">리셋</button>
      <button type="submit">회원가입</button>
    </form>
  </body>
</html>
